.news-article__trash{
    background: #FFFFFF;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    background-image: url("../../../images/trash_inactive.png");
    background-repeat: no-repeat;
    background-position: center;
}

.news-article__trash:hover{
    background-image: url("../../../images/trash.png");
}

.news-article__trash:hover + .news-article__remove{
    display: block;
}

@media only screen and (max-width : 1440px) {
    .news-article__trash:hover + .news-article__remove{
        display: none;
    }
}


@media only screen and (max-width : 1024px) {
    .news-article__trash{
        top: 8px;
        right: 8px;
    }
}

@media only screen and (max-width : 500px) {
    .news-article__trash{
        top: 16px;
        right: 16px;
    }
}