.header-menu_mobile_black{
    display: none;
    background: #1a1b22;
    min-height: 25px;
    box-shadow: inset 0px -1px 0px #D1D2D6;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

@media only screen and (max-width : 701px) {
    .header-menu_mobile_black {
        display: flex;
    }
}