@import url('./_black/header-menu_mobile__button_black.css');

.header-menu_mobile__button{
    width: 24px;
    height: 24px;
    background-image: url("../../../../images/menu.png");
    cursor: pointer;
}