.header-menu_mobile__close-button_black{
    background-image: url("../../../../../images/kisspng-sign-independence-blue-cross-symbol-computer-icons-croix-5b36cd1f0f3a42.3534090515303181110624.png");
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
}