.show-more-btn{
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A1B22;
    background: #FFFFFF;
    border-radius: 80px;
    padding: 18px 84px 22px 84px;
    border: none;
    margin: auto;
    cursor: pointer;
}

.show-more-btn:hover{
    opacity: 0.9;
}

@media only screen and (max-width : 352px) {
    .show-more-btn{
        width: 288px;
    }
}