.header-group__link_active{
    border-bottom: 3px solid white;
    padding-bottom: 23px;
    color: #FFFFFF;
    margin-left: 34px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}