.news-article__remove{
    padding: 13px 12px;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    top: 24px;
    right: 69px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width : 1024px) {
    .news-article__remove{
        top: 8px;
        right: 53px;
    }
}