@import url('./__button/header-menu_mobile__button.css');
@import url('./_black/header-menu_mobile_black.css');
@import url('./__close-button/header-menu_mobile__close-button.css');

.header-menu_mobile{
    z-index: 2;
    min-height: 25px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    display: none;
    padding: 16px;
}

@media only screen and (max-width : 560px) {
    .header-menu_mobile{
        display: flex;
    }
}