.news-article__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 16px 24px 18px 24px;
    height: 88px;
    overflow: hidden;
}

@media only screen and (max-width : 1440px) {
    .news-article__text{
        margin: 10px 16px 12px 16px;
    }
}

@media only screen and (max-width : 500px) {
    .news-article__text{
        margin: 10px 16px 8px 16px;
    }
}
