.header-menu_theme_black{
    box-shadow: inset 0px -1px 0px #D1D2D6;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 0 104px 0 104px;
}

@media only screen and (max-width : 1024px) {
    .header-menu_theme_black{
        padding: 0 40px;
    }
}


@media only screen and (max-width : 768px) {
    .header-menu_theme_black{
        padding: 0 40px 0 40px;
        min-height: 66px;
    }
}

@media only screen and (max-width : 701px) {
    .header-menu_theme_black{
        display: none;
    }
}